.App {
margin: 20px;

}
.widgetHorizontal{
    height: 74px;
    padding: 20px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(70, 74,115);
    color: #FFF;
    margin: auto;
    box-shadow: 0 4px 16px 0 rgba(70,74,115,.1);
}
.moonContainer{
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 50px;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -5px;
}
.moonContainer.waxing{
    background-color: rgb(225, 225, 225);
}
.moonContainer.waning{
    background-color: rgb(70, 70, 70);
}
.innerMoon{
    position: absolute;
    opacity: 0.9;
}
.innerMoon.waxing{
    background-color: rgb(70, 70, 70);
}
.innerMoon.waning{
    background-color: rgb(225, 225, 225);
}
.crater {
    position: absolute;
    background-color: rgb(190,190,190);
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
    border: 1px solid rgb(170,170,170);
    opacity: 0.4;
}

.crater--1 {
    top: 18px;
    left: 20px;
    width: 10px;
    height: 10px;
}
.crater--2 {
    top: 60px;
    left: 23px;
    width: 20px;
    height: 20px;
}
.crater--3 {
    top: 15px;
    left: 50px;
    width: 25px;
    height: 25px;
}
.widgetCentered{
    padding-top: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}